name: Video Streaming CI/CD

defaults:
  run:
    working-directory: ./video-streaming

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t video-streaming .

      # =========================================================
      # Etapas abaixo seriam usadas em produção
      # =========================================================
      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Push Docker image
      #   run: |
      #     IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/video-streaming:latest
      #     docker tag video-streaming $IMAGE_NAME
      #     docker push $IMAGE_NAME

      # - name: Terraform Apply
      #   run: |
      #     cd terraform
      #     terraform init
      #     terraform apply -auto-approve
